body {
  background-color: aqua;
}

h1 {
  color: blueviolet;
  text-align: center;
}

.addtodo, .editToDo{
  text-align: center;
}

.input {
  background-color: cornsilk;
}

.save {
  background-color: greenyellow;
}

.clear {
  background-color: red;
}

.filter {
  background-color: bisque;
}

.todo-row  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px
}

.deletIcon {
  color: red;
	width: 25px;
  height: 25px;
}

.editIcon {
  width: 25px;
  height: 25px;
}

.todo-row{
  text-align: center;
}

.list-filter .complete {
  display: none;
}

.complete {
  text-decoration: line-through;
}

